<section class="reviews">
    <div class="container">
        <div class="reviews__slider">
            <div class="reviews__slide">
                <p class="reviews__text">1. Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda odit
                    quidem
                    quasi. Officiis ducimus hic reiciendis! Nostrum nisi, at animi magni fugit repellat praesentium
                    rerum voluptatum ad nam inventore vero?</p>
            </div>
            <div class="reviews__slide">
                <p class="reviews__text">2. Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda odit
                    quidem
                    quasi. Officiis ducimus hic reiciendis! Nostrum nisi, at animi magni fugit repellat praesentium
                    rerum voluptatum ad nam inventore vero?</p>
            </div>
            <div class="reviews__slide">
                <p class="reviews__text">3. Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda odit
                    quidem
                    quasi. Officiis ducimus hic reiciendis! Nostrum nisi, at animi magni fugit repellat praesentium
                    rerum voluptatum ad nam inventore vero?</p>
            </div>
        </div>
    </div>
</section>